<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>Text analyzer</h1>
    <h2>Enter your text below: </h2>
    <form action="/removepunc" method="get">
        
        <textarea name="text" id="" cols="30" rows="10" style="width: 1511px; height: 196px;"></textarea>
        <button>Analyze text</button>
    </form>
</body>
</html>